@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@300;400;500;700;800;900&family=Splash&display=swap');
:root{
    /* ----COLOURS---- */
    --main-hue-color: 50;
    --bg-color: hsl(352, 100%, 32%);

    --main-color: hsl(var(--main-hue-color), 65%, 31%);
    --lighter-main-color: hsl(var(--main-hue-color), 61%, 76%);


    /* FONTS */
     /* ----font weights---- */
     --lg-font: 700;
     --md-font: 500;
     --sm-font: 300;
 
     /* ---font sizes--- */
     --lg-font-size: 2.4rem;
     --md-font-size: 1.25rem;
     --sm-font-size: 1.05rem;
     --xs-font-size: .725rem;
     --h1-font-size: 2.1rem;
     --h2-font-size: 1.8rem;
     --h3-font-size: 1.4rem;
     --icon-font-size: 1.03rem;
 
     /* ----Margin bottoms--- */
     --mb-lg: 30px;
     --mb-md: 20px;
     --mb-sm: 15px;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    max-height: 100vh;
    max-width: 100%;
}
/* Nav Menu */
.offcanvas{
    width: 60%;
}
ul{
    list-style-type: none;
}
.brand-opt{
    padding-left: -10px;
    margin-left: -20px;
}
label{
    font-size: .85rem;
    padding-left: 5px;
}
nav ul{
    padding: 8px;
    color: #fff;
    gap: 1.15rem;
}
nav ul>li{
    font-size: var(--xs-font-size);
}
.navbar{
    z-index: 9;
    width: 100%;
}
nav.sticky{
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.brand{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: yellow;
    text-align: center;
}
hr{
    background-color: #fff;
}
.navbar-toggler{
    font-size: .9rem;
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-item a.active{
    color: #fff !important;
    background-color: #000;
    width: fit-content;
    padding: 10px var(--mb-md);
}
.cart-menu{
    position: relative;
    margin: auto 0;
    color: var(--main-color);
    cursor: pointer;
}
.cart-menu>.cart-items{
    position: absolute;
    top: -15%;
    right: -30%;
    color: #fff;
    font-size: var(--xs-font-size);
    font-weight: var(--lg-font);
    width: 60%;
    text-align: center;
    height: 60%;
    border-radius: 50%;
    background-color: var(--bg-color);
    
}
.pull-bottom{
    position: relative;
    bottom: 0;
    left: 0;
    background-color: yellow;
    text-align: center;
}
/* Home Page */
/* // Main-content */
#main-content{
    position: relative; 
    background-color: #000;
    width: 100%;
    height: 540px;
    /* padding: 0 100px 0 100px; */
}
.hero-img, #main-content img{
    width: 100%;
    height: 100%;
}
.hero-img{
    background-image: url("../images/sneakers/hero1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: transit 55s infinite ease-in-out;
}
#main-content img{
    position: absolute;
    top: 0;
    opacity: .6;
}
#main-content .msg{
    position: absolute;
    top: 55%;
    text-align: center;
    padding: var(--mb-md);
}
.msg .large-text{
    font-size: var(--lg-font-size);
    font-weight: var(--lg-font);
    color: #fff;
    margin-bottom: var(--mb-lg);
    font-family: 'Splash', cursive;
    text-shadow: 3px 2px 8px #000;
}
.msg p{
    font-size: var(--xs-font-size);
    font-weight: var(--lg-font);
    color: #000;
    margin: 0 auto;
    padding: 5px;
    text-shadow: 3px 2px 8px #fff;
}
.btn-start{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    background-color: var(--main-color);
    color: #fff;
    font-size: .8em;
    font-weight: var(--md-font);
    margin-top: 25px;
    box-shadow: 4px 2px 9px var(--bg-color), 5px 3px 3px #000;
}
.btn-start:hover{
    transform: scale(1.2);
}
#contents{
    margin-top: var(--mb-md);
    margin-bottom: var(--mb-md);
}
.dropdown .dropdown-toggle, .dropdown-item{
    font-size: var(--xs-font-size);
}
.dropdown-toggle:hover, .dropdown-toggle:focus{
    outline: none;
    border: none;
}
.option-title{
    margin-left: 15px;
    font-size: var(--xs-font-size);
}
.option-list{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
.option-list label{
    text-align: right;
}
.option-list label:after{
    content: ":";
}
.apply-btn{
    margin: 5px 0 5px 10px;
    font-size: var(--xs-font-size);
}
.search-bar {
  position: relative;
  border-radius: 20px; /* add border radius to create rounded corners */
  overflow: hidden; /* hide any content that may overflow from the search bar */
}

.search-bar input[type="text"] {
  padding-right: 30px; /* adjust the padding-right value to match the size of your search icon */
  width: 100%; /* set the input field to take up all available space within the search bar */
  border: none; /* remove the default input field border */
}

.search-bar .search {
  position: absolute;
  top: 50%;
  right: 10px; /* adjust the right value to position the search icon as desired */
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .search-bar {
    width: 100%; /* set the search bar to take up the full width of the screen */
  }

  .search-bar .search {
    right: 5px;
  }
}

/*.search-bar{
    width: 44.5vw;
    display: flex;
    height: 2rem;
    border-radius: var(--mb-lg);
    border: 1px solid #000;
    margin-bottom: var(--mb-md);
}
#search{
    border: none;
    flex: 1;
    font-size: var(--xs-font-size);
}
.fa-search{
    cursor: pointer;
    font-size: var(--icon-font-size);
}*/
.results{
   display: none;
   margin-bottom: var(--mb-md);
}
.show-results{
     /* background-color: rgb(179, 174, 174); */
     display: block;
     width: 40vw;
     height: 20px;
     margin: var(--mb-md);
}
.card{
    border: none;
    height: 100%;
}
.swiper{
    margin-bottom: var(--mb-lg);
}
.swiper-button-prev, .swiper-button-next{
    padding: 240px 30px;
    top: 0% !important;
    color: #fff !important;
}
/* .para{
    
} */
/* .card-img-top{
    width: 20rem;
    height: 300px;
} */
.btn-cart{
    width: fit-content;
    text-align: center;
    padding: 10px;
    background-color: var(--bg-color);
    font-size: var(--xs-font-size);
    border-radius: 6px;
    box-shadow: 4px 2px 5px rgb(126, 125, 125);
}
.btn-cart>a{
    color: #fff;
    text-decoration: none;
}
.btn-cart>a:hover{
    color: #fff;
}
.btn-cart i{
    font-size: var(--icon-font-size);
    margin-left: 3px;
}
.loading{
    background-color: #c1c1c1c1;
    text-indent: 100%;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}
.loading::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #e3e3e3, transparent);
    transform: translate(-100%);
    animation: loading 1s infinite;
}
.product-create{
    text-decoration: underline;
    font-size: var(--xs-font-size);
}
.product-create:hover{
    color: #0e0eee;
}
@keyframes loading{
    100%{
        transform: translate(100%);
    }
}
.hidden{
    display: none;
}
.para{
    margin: 0 auto;
    font-size: var(--lg-font-size);
    font-weight: var(--lg-font);
}
/* Categories */
/* #LowTop, #HighTop, #MidTop{
    display: none;
} */

.showing{
    display: block;
}

/* Transitions and animations */
@keyframes transit{
    0%{
        background-image: url("../images/sneakers/hero1.jpg");
    }
    25%{
        background-image: url("../images/sneakers/hero2.jpg");
    }
    50%{
        background-image: url("../images/sneakers/hero3.jpg");
    }
    100%{
        background-image: url("../images/sneakers/hero4.jpg");
    }

}

/* footer */
footer{
    margin-top: 80px;
    bottom: -100px;
    position: relative;
    text-align: center;
    color: var(--main-color);
}
footer h5{
    font-size: var(--h2-font-size);
    font-weight: var(--md-font);
    width: 60%;
    margin: 25px auto;
    color: #000;
}
footer h6{
    font-size: var(--sm-font-size);
    font-weight: var(--md-font);
    margin: 10px 0;
}
footer hr{
    background-color: #000;
}
footer a{
    color: #000;
}
footer .contact, footer .social{
    margin-bottom: 40px;
}
#copy{
    position: relative;
    bottom: 0;
}
/* #copy span: */
.contact{
    font-size: var(--xs-font-size);
    padding: 15px;
}
.social{
    display: flex;
    gap: var(--mb-md);
}
.contact span{
    margin-left: 8px;
}
.ig, .fb, .linkd{
    font-size: 2rem
}
.ig a, .fb a, .linkd a{
    color: var(--lighter-main-color);
}
.fb a:hover{
    color: rgb(64, 64, 146);
}
.ig a:hover{
    color: rgb(179, 57, 57);
}
.linkd a:hover{
    color: gray;
}
.ispan{
    color: var(--main-color);
    font-weight: var(--lg-font);
}
#copy{
    position: relative;
    bottom: 0;
}
#copy svg>path{
    fill: var(--main-color);
}
#copy span:nth-child(2){
    font-size: var(--xs-font-size);
}

/* Cart Page */
.fa-arrow-left{
    margin-right: var(--mb-md);
    cursor: pointer;
    color: #000;
}
.items-container{
    margin-top: var(--mb-lg);
}
.item-total{
    display: flex;
    flex-direction: row;
    gap: 1.152em;
}
.fa-minus-circle, .fa-plus-circle{
    cursor: pointer;
    font-size: var(--icon-font-size)
}
.carted-items hr{
    background-color: #000;
    border: 1px rgb(206, 199, 199) solid;
    box-shadow: 2px 2px 8px #000;
}

/* FAQ Page */
.faq-p{
    margin-top: var(--mb-lg);
}
/* .btn-submit{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(44, 207, 44);
    color: #fff;
} */
.btn-submit:hover, .btn-submit:focus{
    background-color: rgb(15, 124, 15);
}
.faq-form{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

/* Create Page */
.create-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: yellow; */
    /* padding: 50px; */
}
.ready{
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: var(--lg-font-size);
    font-weight: var(--lg-font);
}
.yes-btn, .no-btn, .next-btn, .back-btn{
    width: 150px;
    border-radius: 5px;
    box-shadow: 3px 5px 8px #3b3b3bc1;
    padding: 5px;
    margin: 10px 18px;
    font-weight: var(--md-font);
}
.yes-btn, .no-btn{
    opacity: 0;
    animation: fade 0s forwards;
    animation-delay: 11s;
}
/* .yes-btn{
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.no-btn{
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
} */
.parent-span{
    color: rgb(235, 235, 22);
    text-shadow: 2px 1px 3px #000;
    animation: fade 3s forwards;
}
.first-span{
    opacity: 0;
    animation: fade 3s forwards;
    animation-delay: 4s;
}
.second-span{
    opacity: 0;
    animation: fade 3s forwards;
    animation-delay: 8s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}
/* Forms for create page */
.form{
    padding: 50px;
}
.form-category{
    gap: 1.7rem;
}
.form-category>label{
    position: relative;
    margin: 5px auto;
    height: 220px;
    width: 170px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #c1c1c1c1;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #000;
    cursor: pointer;
    /* border: 2px solid  #000; */
}
/* .form-category>label:hover{
    transform: scale(1.1);
    border: 4px solid rgb(38, 6, 184);
}
.form-category>label::selection{
    transform: scale(1.1);
    border: 4px solid rgb(6, 184, 21);
} */
.form-category span{
    position: absolute;
    bottom: 0%;
    z-index: 99999999;
    color: #fff;
    letter-spacing: 2px;
    background-color: #000;
    opacity: .7;
    width: inherit;
}
.form-category span>h5{
    font-weight: var(--md-font);
    font-size: var(--xs-font-size);
}
.form-category > input{
    opacity: 0;
}
[type = radio] + img{
    position: absolute;
    width: 170px;
    height: 220px;
    border-radius: 10px;
    cursor: pointer;
}
[type = radio]:hover + img{
    transform: scale(1.1);
}
[type = radio]:checked + img{
    transform: scale(1.1);
    border: 4px solid rgb(6, 184, 21);
}
.btns{
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
}
/* Colour Form */
.form-colour{
    position: relative;
    /* background-color: yellowgreen; */
    width: 80vw;
    padding: 5em;
    overflow: hidden;
}
.form-colour>h3{
    text-align: center;
    margin-bottom: var(--mb-sm);
}
.change-colour{
    /* background-color: yellow; */
    position: relative;
    padding: 5em;
}
.first-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 0;
}
.second-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
}
.colour{
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: multiply;
}
.color-type{
    display: flex;
    align-items: right;
    justify-content: right;
    text-align: right;
    padding-left: 50px;
}
[type=color]{
    border: 1px solid #c1c1c1c1;
    border-radius: 5px;
    background-color: #fff;
    width: 80px;
    padding: .2em;
    cursor: pointer;
}

/* Large screens */
@media (min-width: 991px){
    :root{
        /* FONTS */
     
         /* ---font sizes--- */
         --lg-font-size: 2.6rem;
         --md-font-size: 1.5rem;
         --sm-font-size: 1.25rem;
         --xs-font-size: .94rem;
         --h1-font-size: 2.35rem;
         --h2-font-size: 2.15rem;
         --h3-font-size: 1.88rem;
         --icon-font-size: 1.04rem;
     
         /* ----Margin bottoms--- */
         --mb-lg: 50px;
         --mb-md: 25px;
         --mb-sm: 20px;
    }
    .nav-item a.active:hover{
    transform: none !important;
}
.nav-item a:hover{
    transform: scale(1.1);
}
.search-bar{
    width: 41vw;
}
.card-img-top{
    width: 18rem;
    height: 250px;
}
.social{
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
.ig, .fb, .linkd{
    row-gap: var(--mb-lg);
    font-size: 2.2rem;
}
.swiper-button-prev{
    left: 0px !important;
}
.swiper-button-next{
    right: 0px !important;
}
}
/* for smaller devices */
@media screen and (max-width: 990px){
    .cart-menu>.cart-items{
        padding-top: 2px;
    }
    .fb a{
    color: rgb(64, 64, 146);
    }
    .ig a{
        color: rgb(179, 57, 57);
    }
    .linkd a{
        color: gray;
    }
}
/* for tiny screens */
@media only screen and (max-width: 417px){
    :root{    
        /* ----FONTS--- */
    
        /* ---font sizes--- */
        --lg-font-size: 1.6rem;
        --md-font-size: 1.075rem;
        --sm-font-size: .985rem;
        --xs-font-size: .775rem;
        --h1-font-size: 1.45rem;
        --h2-font-size: 1.3rem;
        --h3-font-size: 1.15rem;
        --icon-font-size: .845rem;
    }
    .form-category{
        background-color: blue;
        gap: .3rem;
    }

    .form-category>label{
        margin: 5px auto;
        height: 140px;
        width: 100px;
        /* border: 2px solid  #000; */
    }
    [type = radio] + img{
        width: 100px;
        height: 140px;
    }
    /* Colour Form */
    .form-colour{
        width: 100%;
        background-color: yellowgreen;
        padding: 1.5em;
    }
    .form-colour>h3{
        text-align: center;
        margin-bottom: var(--mb-sm);
        font-size: var(--md-font-size);
    }
    .change-colour{
        background-color: yellow;
        padding: 3em;
    }
    .first-img{
        width: 55%;
        height: 100%;
    }
    .second-img{
        width: 55%;
        height: 100%;
    }
    .colour{
        width: 55%;
    }
    /* .color-type{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 50px;
    } */
    .btns{
        margin-right: -10px;
    }
    [type=color]{
        width: 50px;
    }
}
